


<div class="container mt-4 w-100">
    <h1 style="font-weight: bold; margin-left: 0.3cm;">Add Node Group</h1>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!--First form group------------------------------------>
        <mat-step [stepControl]="form_AddGroup">
            <form [formGroup]="form_AddGroup">
                <ng-template matStepLabel>Add Group Details</ng-template>
                <div class="row">
                    <!-- group name -->
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Group name</mat-label>
                        <input type="text" matInput formControlName="name" placeholder="Enter a group name">
                    </mat-form-field>
                    <!-- end -->
                </div>

                <div class="row">
                    <!-- checkbox: is enabled -->
                    <mat-checkbox formControlName="active" class="example-margin">
                        Active Group
                    </mat-checkbox>
                    <!-- end -->
                </div>
                <div>
                    <button mat-button (click)="save_group();get_nodes();" 
                    style=" margin-left: 22.5cm; background-color: rgb(216, 221, 221);">Next</button>
                </div>
            </form>
        </mat-step>


        <mat-step label="Assign node to group">
            <app-list-sensors [id]="id"></app-list-sensors>
            <button mat-button  (click)="ngAfterViewInit()"
            style="margin-top: 0.5cm; margin-left: 20.4cm; background-color: rgb(216, 221, 221);"
            >Assign sensor</button>
        </mat-step>
    </mat-horizontal-stepper>
    <!-- snack bar -->

    <!-- end -->
</div>