<div class="content container-fluid mt-1">
    <!-- table -->
    <mat-card class=" example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <!--Email Field-->
                <div class="container mt-4">
                    <mat-form-field class="example-full-width">
                        <label for="email">Email</label>
                        <input class="form-group" [disabled]="true" type="email" matInput [value]="get_user.email">
                    </mat-form-field>
                </div>
                <!--End Email Field-->
                <!--Role Field-->
                <div class="container mt-4">
                    <mat-form-field class="example-full-width">
                        <label for="role">Role</label>
                        <input class="form-group" [disabled]="true" type="role" matInput
                            [value]="get_user.u_group.groupname">
                    </mat-form-field>
                </div>
                <!--End Role Field-->
                <!--username Field-->
                <div class="container mt-4">
                    <mat-form-field class="example-full-width">
                        <label for="email">Username</label>
                        <input class="form-group" type="text" matInput [value]="get_user.username"
                            (change)="onChangeusername($event.target.value)">
                    </mat-form-field>
                </div>
                <!--End username Field-->

                <!--Password Field-->
                <div class="container mt-4">
                    <mat-form-field class="example-full-width">
                        <label for="password">Current Password</label>
                        <input type="password" matInput (change)="onChangepassword($event.target.value)"> 
                    </mat-form-field>
                </div>
                <!--End Password Field-->

                <!--New Password Field-->
                <div class="container mt-4">
                    <mat-form-field class="example-full-width">
                        <label for="newpassword">New Password</label>
                        <input type="newpassword" matInput>
                    </mat-form-field>
                </div>
                <!--End New Password Field-->
            </form>
            <div class=" button-edit">
                <button (click)="submit_all()" class=" btn-success btn btn-sm" mat-raised-button
                    style="margin-right: 0.5cm;">
                    <mat-icon>check_circle_outline</mat-icon>
                    <span>Save</span>
                </button>
                <button (click)="delete_dialog()" class=" btn btn-danger btn-sm" mat-raised-button>
                    <mat-icon>delete</mat-icon>
                    <span> Delete</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>