<div style="zoom:80%">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>table_view</mat-icon>
          Data Table
        </mat-panel-title>

        <mat-panel-description>
          <span class="text-center">{{data.length}} result(s)</span>
          <div [hidden]="!show_progress_bar">

            <i
              class="fa text-danger fa-circle-o-notch fa-spin  fa-fw"></i>
            <span class="sr-only">Loading...</span>

          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="zoom:70%" class="container-fluid p-3  mt-5 ">


<!--        <div class="row">-->
<!--          <div class="col-2">-->
<!--            <mat-card id="reading_card" style="width: 70vw" class=" border shadow m-auto  bg-white"-->
<!--                      (dblclick)="min_to_row()"-->
<!--                      [hidden]="!show_row_popup">-->
<!--              <div class="alert bg-danger text-white w-50 container text-center shadow" role="alert"><i-->
<!--                class="fa fa-mouse-pointer"></i> double click to close.-->
<!--              </div>-->
<!--              <div>-->

<!--                <p style="height: 300px;width:auto;overflow: scroll;"-->
<!--                   class="shadow m-auto speech-bubble-left w-75 p-3 ml-3">{{maxmized_row}}</p>-->
<!--              </div>-->
<!--            </mat-card>-->
<!--          </div>-->


<!--        </div>-->


        <div [hidden]="!show_progress_bar" style="margin-left: 50%;zoom:100%" class="mt-2">

          <i
            class="fa text-danger fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
          <p>Loading data..</p>
        </div>

        <button mat-raised-button class="bg-danger text-white pull-right "
                (click)="init()"
        >
          refresh
        </button>

        <mat-form-field [hidden]="show_progress_bar">
          <mat-label>Filter</mat-label>
          <input id="search_keyword" matInput (keyup)="applyFilter($event)" placeholder="any keyword to filter" #input>
        </mat-form-field>

        <div [hidden]="show_progress_bar" class="mat-elevation-z8 ">
          <table mat-table [dataSource]="dataSource" matSort>

            <div *ngFor="let col of displayedColumns;let i = index">

              <div *ngIf="col == '_id'; else render">
                <!-- Column Object -->
                <ng-container [matColumnDef]="col">

                  <th class="text-sm  text-sm-left " mat-header-cell *matHeaderCellDef
                      mat-sort-header> {{col | uppercase}} </th>
                  <td style="max-width: 10px;" (click)="clicked_row(row)"
                      class=" text-sm text-sm-left truncate" mat-cell *matCellDef="let row"> {{row[col]['$oid']}} </td>


                </ng-container>
              </div>

              <ng-template #render>
                <!-- Column Object -->
                <ng-container [matColumnDef]="col">
                  <th class="text-sm  text-sm-left " mat-header-cell *matHeaderCellDef
                      mat-sort-header> {{col | uppercase}} </th>
                  <td (click)="max_to_row($event)" style="max-width: 150px;" (click)="clicked_row(row)"
                      class="text-sm  text-sm-left truncate" mat-cell *matCellDef="let row"> {{row[col]}} </td>
                </ng-container>
              </ng-template>


            </div>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[4,10, 15, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-expansion-panel>
    <!--    <mat-expansion-panel (opened)="panelOpenState = true"-->
    <!--                         (closed)="panelOpenState = false">-->
    <!--      <mat-expansion-panel-header>-->
    <!--        <mat-panel-title>-->
    <!--          <mat-icon>bar_chart</mat-icon>-->
    <!--          Data Analysis-->
    <!--        </mat-panel-title>-->
    <!--        <mat-panel-description>-->

    <!--        </mat-panel-description>-->
    <!--      </mat-expansion-panel-header>-->


    <!--    </mat-expansion-panel>-->
  </mat-accordion>

</div>
