<div class="row">
    <!-- Modal Delete -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Delete {{selection.selected.length}} Groups</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- delete confirmation -->
                    <div class="m-5">
                        <div class="row">
                            <div class="col-auto">
                                <h3>Are you sure you want to delete the below record(s)?</h3>

                                <ol>
                                    <li *ngFor="let item of selection.selected">
                                        {{item.groupname}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="delete_ugroup()" data-dismiss="modal" class="btn btn-danger">yes,
                        Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!--Start Edit Modal-->
    <div id="EditModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Edit Group </h2>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="get_ugroup_list(true)">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <mat-form-field appearance="fill">
                                <mat-label> Group Name</mat-label>
                                <input matInput [formControl]="groupname" required>
                                <mat-error *ngIf="groupname.invalid">{{getErrorMessageGroup()}}</mat-error>
                            </mat-form-field>
                            <mat-slide-toggle [formControl]="active" [checked]="active"
                                style="margin-left: 5cm; margin-top: 0.3cm;">
                            </mat-slide-toggle>
                        </div>
                        <div class="form-row">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Group Roles
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div cdkDropListGroup>
                                    <div class="example-container">
                                        <h3 class="heading avaliable">Avaliable Roles</h3>
                                        <div cdkDropList [cdkDropListData]="avaliableRoles" class="example-list"
                                            cdkDropListSortingDisabled (cdkDropListDropped)="onDrop($event)">
                                            <div class="example-box" *ngFor="let item of avaliableRoles" cdkDrag>
                                                {{item}}</div>
                                        </div>
                                    </div>
                                    <div class="example-container">
                                        <h3 class="heading assigned">Assigned Roles</h3>
                                        <div cdkDropList [cdkDropListData]="assignedRoles" class="example-list"
                                            (cdkDropListDropped)="onDrop($event)">
                                            <div class="example-box" *ngFor="let item of assignedRoles" cdkDrag>{{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <div class="form-row" style="padding-top: 0.5cm;">
                            <button type="button" class="btn btn-danger btn-sm ml-auto" data-dismiss="modal"
                                (click)="get_ugroup_list(true)">Cancel</button>
                            <button type="submit" [disabled]="groupname.invalid || assignedRoles.length===0"
                                (click)="save_changes()" class="btn btn-success btn-sm ml-1">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End-->

    <div class="col-auto  w-100">
        <h1 style="font-weight: bold; margin-left: 0.3cm;">List User Groups</h1>
        <div class="container-fluid mt-1">
            <!-- table control  -->
            <!-- filter control -->

            <div>
                <div class="row justify-content-end">
                    <!-- menu div -->
                    <div class="col-auto">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_horizontal</mat-icon>
                        </button>
                        <mat-menu class="p-2" #menu="matMenu">
                            <button (click)="get_ugroup_list(true)" mat-menu-item>
                                <mat-icon>refresh</mat-icon>
                                <span>refresh</span>
                            </button>
                            <!-- Create sensor button -->
                            <button [routerLink]="['/addUgroup']" *ngIf='authorize(["ugroup:create"])'
                                routerLinkActive="router-link-active" mat-menu-item>
                                <mat-icon>playlist_add</mat-icon>
                                <span>add</span>
                            </button>
                            <div *ngIf='authorize(["ugroup:delete"])'>
                                <button data-toggle="modal" *ngIf="selection.hasValue()" data-target="#exampleModal"
                                    mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>delete</span>
                                </button>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <!-- end -->
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="type to filter" #input>
                </mat-form-field>
                <!-- table -->
                <div class="mat-elevation-z8 w-100">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- Checkbox Column -->
                        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                            <div *ngIf="col !=='select' ">
                                <!-- table header -->
                                <th mat-sort-header mat-header-cell *matHeaderCellDef>
                                    <span class="text-capitalize" *ngIf="col !== 'isEdit' && col!== 'isDelete' ">
                                        {{col.replace('_',' ')}}
                                    </span>
                                </th>

                                <!-- table cell -->
                                <td mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit && !element.isDelete">

                                        <!-- edit button -->
                                        <div class="btn-edit" *ngSwitchCase="'isEdit'">

                                            <div *ngIf='authorize(["ugroup:delete"]) || authorize(["ugroup:update"])'>
                                                <button mat-icon-button [matMenuTriggerFor]="menuu"
                                                    aria-label="Example icon-button with a menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                            <mat-menu class="p-2" #menuu="matMenu">
                                                <div *ngIf='authorize(["ugroup:update"])'>
                                                    <!-- edit -->
                                                    <button (click)=" edit_ugroup(element)" data-toggle="modal"
                                                        data-target="#EditModal" mat-menu-item>
                                                        <mat-icon>edit</mat-icon>
                                                        <span>edit {{element.groupname}}</span>
                                                    </button>
                                                </div>
                                                <!-- delete -->

                                                <div *ngIf='authorize(["ugroup:delete"]) && element.groupname!=="public"'>
                                                    <button (click)="delete_dialog(element)" mat-menu-item>
                                                        <mat-icon>delete</mat-icon>
                                                        <span>delete {{element.groupname}}</span>
                                                    </button>
                                                </div>
                                            </mat-menu>

                                        </div>

                                        <!-- row: view mode -->
                                        <span *ngSwitchDefault>
                                            <!-- text cell -->
                                            <label for="" *ngIf="col==='groupname'">
                                                {{element[col]}}
                                            </label>
                                            <mat-expansion-panel *ngIf="col==='roles'" class="mat-elevation-z0">
                                                <mat-expansion-panel-header>
                                                </mat-expansion-panel-header>
                                                <div style="height: 100px; overflow-y: auto;">
                                                    <p *ngFor="let item of element[col]">
                                                      
                                                        
                                                        <label> {{ item }} </label>
                                                    </p>
                                                </div>
                                            </mat-expansion-panel>
                                            <!-- slide type cell -->
                                            <mat-slide-toggle disabled="true" [checked]="element[col]"
                                                *ngIf="isBool(element[col])">
                                            </mat-slide-toggle>

                                            <!-- dropdown cell -->
                                            <!-- end -->
                                        </span>
                                    </div>
                                </td>
                            </div>

                            <!-- for checkboxes -->
                            <div *ngIf="col ==='select'">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </div>


                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>


        </div>
    </div>