<div class="row">

    <div class="col-auto  w-100">
        <div class="container-fluid mt-1">
            <!-- table control  -->
            <div class="row justify-content-end">

                <!-- filter control -->
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="type to filter" #input>
                </mat-form-field>
                <!-- end -->


                <!-- table -->
                <div class="mat-elevation-z8 w-100">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                            <!-- table header -->
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                                <span>
                                    {{col}}
                                </span>
                            </th>
                            <!-- table cell -->
                            <td mat-cell *matCellDef="let element">
                                <span>
                                    <label for="" *ngIf=" col!=='createdAt' && col!=='updatedAt' ">
                                        {{element[col] }}
                                    </label>
                                    <label *ngIf="col==='createdAt'">
                                        {{element[col] |date :'short' }}
                                    </label>
                                    <label *ngIf="col==='updatedAt'">
                                        {{element[col] |date :'short' }}
                                    </label>

                                </span>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <!--End Table-->

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>




    <!-- Button trigger modal -->