.mat-table {
  overflow-x: scroll;
  max-width: 99%;
}
.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width:25%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.w{
  width:40%;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #49c5b6 ;
}