<!-- 
 <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/Login']" routerLinkActive #rla5="routerLinkActive"
        [active]="rla5.isActive">Login</a>

        <div *ngIf='authorize(["group"])' class="row">
            <a *ngIf='authorize(["group:create"])' mat-tab-link [routerLink]="['/addGroup']" routerLinkActive #rla1="routerLinkActive"
                [active]="rla1.isActive">Create Group</a>
            <a mat-tab-link [routerLink]="['/listGroup']" routerLinkActive #rla2="routerLinkActive"
                [active]="rla2.isActive">List Group</a>
        </div>
        <div *ngIf='authorize(["sensor"])' class="row">
            <a *ngIf='authorize(["sensor:create"])' mat-tab-link [routerLink]="['/addSensor']" routerLinkActive #rla3="routerLinkActive"
                [active]="rla3.isActive">Create Sensor</a>
            <a mat-tab-link [routerLink]="['/listSensor']" routerLinkActive #rla4="routerLinkActive"
                [active]="rla4.isActive">List Sensor</a>
        </div>
        
        <button (click)=" logout()" matTooltip="Click to Logout" mat-fab style="margin-left: 15cm;" color="primary"
            aria-label="Example icon button with a home icon">
            <mat-icon>keyboard_return</mat-icon>
        </button>

</nav>
-->

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Cyshield IOT</div>
        <div class="list-group list-group-flush">

            <a class="list-group-item list-group-item-action list-group-item-light p-3" *ngIf='isloggedin()'
                href="#!">Dashboard</a>

            <div *ngIf='authorize(["sensor"])'>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    *ngIf='authorize(["sensor:create"])' routerLink='/addSensor'>Create Sensor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    *ngIf='authorize(["sensor:list"])' routerLink='/listSensor'>List Sensor</a>
            </div>

            <div *ngIf='authorize(["group"])'>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    *ngIf='authorize(["group:create"])' routerLink='/addGroup'>Create Group</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    *ngIf='authorize(["group:list"])' routerLink='/listGroup'>List
                    Group</a>
            </div>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" *ngIf='!isloggedin()'
                routerLink='/Login'>Login</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" *ngIf='isloggedin()'
                (click)=" logout()" routerLink='/Login'>Logout</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" *ngIf='authorize(["sensor:list"])'
                                routerLink='/listSensor'>Sensors</a></li>
                        <li class="nav-item"><a class="nav-link" *ngIf='authorize(["group:list"])'
                                routerLink='/listGroup'>Groups</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" style="align-items: center; justify-content: center;">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>