<div class="w-26 row justify-content-center" style="margin-top: 3%;">
    <div class="card card-container" style="width: 25%;">
        <!-- <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" /> -->
        <h2>Welcome To Cyshield IOT</h2>
        <h4>please enter your username and password</h4>
        <!--Form Login-->
        <form class="example-form" [formGroup]="form_login">
            <!--Email Field-->
            <div class="container mt-4">
                <mat-form-field class="example-full-width">
                    <label for="email">Email</label>
                    <input class="form-group" type="email" matInput formControlName="email" [formControl]="email">
                    <div [hidden]="email.valid || email.untouched">
                      <div [hidden]="!email.hasError('pattern')">
                        <mat-error>can not be written like that, please check the email again.</mat-error>
                      </div>
                      <div [hidden]="!email.hasError('required')">
                        <mat-error>email is required.</mat-error>
                      </div>
                    </div>

                </mat-form-field>
            </div>
            <!--End Email Field-->

            <!--Password Field-->
            <div class="container mt-4">
                <mat-form-field class="example-full-width">
                    <label for="password">Password</label>
                    <input #eye_password type="password" matInput formControlName="password" [formControl]="password">
                    <mat-icon class="field-icon"
                        (click)="eye_password.type=eye_password.type=='password'?'text':'password'">remove_red_eye
                    </mat-icon>
                    <div [hidden]="password.valid || password.untouched">
                      <div [hidden]="!password.hasError('required')">
                        <mat-error>The password is required.</mat-error>
                      </div>
                      <div [hidden]="!password.hasError('minlength')">
                        <mat-error>The password must be at least 4 characters long.</mat-error>
                      </div>
                      <div [hidden]="!password.hasError('pattern')">
                        <mat-error>The password must be letters (both uppercase and lowercase) and numbers and special charachter.</mat-error>
                      </div>
                    </div>
                </mat-form-field>
            </div>
            <!--End Password Field-->
            <div>
                <!--Login button -->
                <button class="btn btn-primary btn-block" [disabled]="!form_login.valid" (click)="onsubmit()">Login
                </button>

                <!-- Signup -->
                <button class="btn btn-primary btn-block" routerLink='signup'>Signup
                </button>

                <!--Google button-->
                <div class="col s12 m6 offset-m3 center-align">
                    <a href="http://localhost:3000/auth/google" class="oauth-container btn darken-4 white black-text"
                        style="text-transform:none">
                        <img width="20px" style="margin-top:px; margin-right:5px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Sign in with Google
                    </a>
                </div>
            </div>
        </form>
        <!--End Form Login-->
    </div>
</div>
