table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .full-name-inputs,
    .validation-checkboxes {
      display: flex;
      padding-bottom:0.4cm;
      width: 5cm;
    }
    .example-full-width{
      margin-left: 2cm;
    }
    ::ng-deep .cdk-overlay-container {
      z-index: 10000 !important;
    }
  

    ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: rgb(35, 86, 134) !important;
    }
    
    ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
      background-color: rgb(35, 86, 134) !important;
    }
    
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: rgb(35, 86, 134) !important;
    }   
  