<div class="row justify-content-center" style="margin-top: 6%">
    <div class="card card-container" style="width: 50%;">
        <div class="container mb-2">
            <h2 class="card-header text-center text-white bg-primary">Assign Permissions to Users</h2>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let value of Users">
                    <mat-expansion-panel-header>
                        {{value.email}}
                    </mat-expansion-panel-header>
                    <p *ngFor="let item of permissions;let i=index">
                        <input type="checkbox" [checked]="check_value(value.roles,item)"
                            (change)="onCheckboxChange($event,value,i)" > {{ item }}
                    </p>
                    <button class="btn btn-primary btn-block" (click)="onsubmit()">Save</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>