<div class=" overflow-auto">

    <div class="row p-4 justify-content-center">

        <div class="col-auto">


            <mat-button-toggle-group appearance="legacy" class="p-0">
                <mat-button-toggle (click)="expandAll()" value="expand">
                    <mat-icon>unfold_more</mat-icon>
                </mat-button-toggle>


                <mat-button-toggle (click)="collapseAll()" value="collapse">
                    <mat-icon>unfold_less</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>

        </div>
    </div>

    <div class="sidenav p-4">
        <!-- page title -->

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node expanded="true" *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->

                <div class="outer-div">
                    <mat-icon class="dashboard" *ngIf="node.icon==='dashboard'"  aria-hidden="false" aria-label="Example home icon">{{node.icon}}</mat-icon>
                    <mat-icon aria-hidden="false" *ngIf="node.icon!=='dashboard'" aria-label="Example home icon">{{node.icon}}</mat-icon>

                    <button mat-button class="text-capitalize text-dark"
                        [routerLink]="node.routerLink">{{node.labelText}}</button>
                </div>

            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node Expanded="true" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>

                <div class="outer-div">

                    <mat-icon aria-hidden="false" aria-label="Example home icon">{{node.icon}}</mat-icon>
                    <span class="text-capitalize">{{node.labelText}}</span>
                </div>



            </mat-tree-node>
        </mat-tree>


    </div>
</div>