/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.radius {
  border-radius: 15px;

}

.scroll {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 30vh;
  max-height: 60vh;
  transition: 1s;
  scroll-behavior: smooth;
  width: 30vw;

}

.scroll:hover {
  transition: 1s;
  height: 60vh;
  overflow: scroll;
  overflow-y: visible;
  overflow-x: visible;
  scroll-behavior: smooth;
}
.pointer{
  cursor: pointer;
}

mat-chip-list >mat-chip  {
  cursor: pointer;
}
