<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">IoT platform</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dash">Dashboard</a>
                </li>
            
            </ul>
            <div class="row ">
               <div class="col-12 justify-content-end">
                    <button (click)="logout();" class="btn btn-outline-secondary" [routerLink]="['/']"
                        routerLinkActive="router-link-active">logout</button>
               </div>
            </div>
        </div>
    </div>
</nav>

