<div class="row">
    <h1 style="font-weight: bold; margin-left: 0.3cm;">List Entity</h1>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Entity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label" style="margin-bottom: 0.5cm;">Entity Data</label>
                            <div [formGroup]="Formentity">
                                <input type="text" matInput formControlName="name" placeholder="Name" class="form-control" style="margin-bottom: 0.5cm;">
                                <input type="text" matInput formControlName="type"  placeholder="Type" class="form-control"  style="margin-bottom: 0.5cm;">

                                <mat-form-field appearance="fill" >
                                    <mat-label>Node Name</mat-label>
                                    <mat-select formControlName="nodeId" >
                                        <mat-option  *ngFor="let nodeId of node" [value]="nodeId.id">
                                            {{nodeId.friendly_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)=" save_entity()">Create</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Delete {{selection.selected.length}} sensors type
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- delete confirmation -->
                    <div class="m-5">
                        <div class="row">
                            <div class="col-auto">
                                <h3>Are you sure you want to delete the below record(s)?</h3>

                                <ol>
                                    <li *ngFor="let item of selection.selected">
                                        {{item.type}}
                                    </li>
                                </ol>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="delete_entity()" data-dismiss="modal"
                        class="btn btn-danger">yes,
                        Delete</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-auto  w-100">
        <!-- end -->
        <div class="container-fluid mt-1">
            <!-- table control  -->
            <div class="row justify-content-end">
                <div class="col-auto">
                    <!-- save div -->
                    <div class="col-auto">
                        <button *ngIf="enable_save_all;" (click)="submit_all()" mat-raised-button color="primary">
                            <mat-icon>save</mat-icon>
                            <span>Save Changes</span>
                        </button>
                    </div>

                    <!-- menu div -->
                    <div class="col-auto">

                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_horizontal</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <div class="container">
                                <div class="row">
                                    <!-- refresh -->
                                    <button (click)="get_entity_list(true)" mat-menu-item>
                                        <mat-icon>refresh</mat-icon>
                                        <span>refresh</span>
                                    </button>
                                </div>

                                    <!-- Create Entity type button -->
                                    <div *ngIf='authorize(["entity:create"])'>
                                        <button data-toggle="modal" data-target="#exampleModal" mat-menu-item>
                                            <mat-icon>playlist_add</mat-icon>
                                            <span>add</span>
                                        </button>
                                    </div>
                                    <!-- end -->

                                    <!-- delete -->
                                    <div *ngIf='authorize(["entity:delete"])'>
                                    <button data-toggle="modal" *ngIf="selection.hasValue()"
                                        data-target="#exampleModall" (click)="get_entity_list(true)" mat-menu-item>
                                        <mat-icon>delete</mat-icon>
                                        <span>delete</span>
                                    </button>
                                    </div>
                                    <!-- end -->

                               
                            </div>
                        </mat-menu>
                    </div>

                </div>

                <!-- filter control -->
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="type to filter" #input>
                </mat-form-field>



                <!-- end -->

                <!-- table -->
                <div class="mat-elevation-z8 w-100">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- Checkbox Column -->
                        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                            <div *ngIf="col !=='select' ">
                                <!-- table header -->
                                <th mat-sort-header mat-header-cell *matHeaderCellDef>
                                    <span *ngIf=" col !== 'isEdit' && col!== 'isDelete'   ">
                                        {{col}}
                                    </span>
                               
                                </th>

                                <!-- table cell -->
                                <td mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit && !element.isDelete">

                                        <!-- edit button -->
                                        <div class="btn-edit" *ngSwitchCase="'isEdit'">

                                            <div>
                                                <button mat-icon-button [matMenuTriggerFor]="menuu"
                                                    aria-label="Example icon-button with a menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                            <mat-menu #menuu="matMenu">
                                                <div>
                                                    <!-- edit -->
                                                    <div *ngIf='authorize(["entity:update"])'>
                                                    <button
                                                        (click)="enable_save_all = true ;element.isEdit = !element.isEdit"
                                                        mat-menu-item>
                                                        <mat-icon>edit</mat-icon>
                                                        <span>edit {{element.type}}</span>
                                                    </button>
                                                </div>
                                                    <!-- slide type cell -->

                                                </div>
                                                <!-- delete -->

                                                <div *ngIf='authorize(["entity:delete"])'>
                                                    <button (click)="delete_dialog(element)" mat-menu-item>
                                                        <mat-icon>delete</mat-icon>
                                                        <span>delete {{element.type}}</span>
                                                    </button>
                                                </div>
                                            </mat-menu>

                                        </div>

                                        <!-- row: view mode -->
                                        <span *ngSwitchDefault>
                                            <!-- text cell -->
                                            <label for=""  *ngIf=" col!=='node'">
                                                {{element[col]}}
                                            </label>
                                            <div *ngIf="col==='node'">
                                                <label>
                                                    {{ element[col]['friendly_name']}}
                                                </label>
                                            </div>
                                            
                                        </span>
                                    </div>


                                    <!-- edit mode -->
                                    <div *ngIf="element.isEdit">
                                        <!-- done -->
                                        <div class="btn-edit"
                                            *ngIf="col === 'isEdit'|| col === 'isDelete'; else dataField">


                                        </div>

                                        <!-- col with edit -->
                                        <ng-template #dataField>
                                            <!-- input text -->
                                            <mat-form-field *ngIf="col!=='node'">
                                                <mat-label>{{col}}</mat-label>
                                                <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]">
                                            </mat-form-field>
                                            <!-- slide type cell -->

                                             <!-- mqttUserId -->
                                        <mat-form-field *ngIf="col==='node'">
                                            <mat-select [(ngModel)]="element['nodeId']">
                                                <mat-option *ngFor="let node_data of node" [value]="node_data.id">
                                                    {{node_data.friendly_name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- end -->
                                           

                                        </ng-template>
                                    </div>
                                </td>
                            </div>

                            <!-- for checkboxes -->
                            <div *ngIf="col ==='select'">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </div>


                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>


        </div>
    </div>
